.container {
	background-color:silver;
}

#bunkerPlay{
	background-color:palegoldenrod;
}

#ironPlay{
	background-color:olivedrab;
}

#puttingTips{
	background-color:peru;
}

#fitness {
	background-color:powderblue;
}

#caddyShack {
	background-color: palegoldenrod;
}

.videoPicker {
	height:100px;
	width:100px;
	float:right;
	margin-right:50px;
}
#results {


}