.container {
	background: url(1golf2.jpg); no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
	height:1000px;
	margin-right:auto;
	margin-left:auto;
	float:left;
}

.middlecontainer {
	background: url(photo.jpg); no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
	height:1000px;
	margin-right:auto;
	margin-left:auto;
	margin-top:630px;
}

.bottomcontainer {
	background: url(divot.jpg); no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
	height:1000px;
	margin-right:auto;
	margin-left:auto;
}

.jumbotron1 {

	height:300px;
	margin-top:50px;
}

h2 {
	font-size:77px;
	font-family: futura, sans-serif;
	color:white;
	font-weight: bold;
}

h2:hover {
	color:black;
}

h3 {
	font-size:44px;
	font-family:futura, sans-serif;
	color:lightskyblue;
}

h3:hover {
	color:black;
}

#quote {
	font-family:cursive;
	font-size:25px;
	color:black;
	font-style:italic;
	float:right;
	margin-right:100px;
	margin-top:25px;
	display:none;
}

#quote:hover {
	color:white;
}

#bunkerPlay{
	background-color:palegoldenrod;
}

#bunkerPlay:hover {
	background-color:lightskyblue;
}


#ironPlay{
	background-color:olivedrab;
}

#ironPlay:hover {
	background-color:peru;
}

#puttingTips{
	background-color:peru;
}

#puttingTips:hover {
	background-color:olivedrab;
}

#fitness {
	background-color:lightskyblue;
}

#fitness:hover {
	background-color:palegoldenrod;
}

#caddyShack {
	background-color: palegoldenrod;
}

#caddyShack:hover {
	background-color:peru;

}

.videoPicker {
	height:150px;
	width:150px;
	border-radius:75px;
	float:right;
	margin-right:75px;
	margin-top:25px;
	line-height:150px;
	vertical-align: middle;
	text-align: center;
	font-family:futura, sans-serif;
	font-size:22px;

}
#results {

}

#resultsright {
	height:1000px;
	width:300px;
	background-color:black;
	opacity:.7;
	float:right;
	font-family:futura, sans-serif;
	font-size:44px;
	color:lightskyblue;
}

.clear {
  clear: both;
}